body {
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    color: white;
    padding: 7% 15%;
}

a {
    text-decoration: none;
}

.profile h2 {
    font-weight: 700;
}

.profile h5 {
    color: #bbb;
}

.profilepic {
    height: 250px;
    max-width: 100%;
    border-radius: 50%;
}

.projects h3 {
    font-weight: 500;
}

.project h5 {
    font-weight: 400;
}

.project h3,h5 {
    padding-top: 10px;
    text-align: left;
}

.project h5 a {
    text-decoration: none;
    color: white;
}

.projectimg {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.project {
    background-color: #1f1f1f;
    border-radius: 14px;
    text-align: center;
    margin-bottom: 24px;
}

.giticon {
    width: 35px;
    height: 35px;
    filter: invert();
}

.projectlink {
    margin: 0 auto;
    padding: 8px;
    border: 1px solid;
    border-radius: 14px;
    display: inline-block;
}

.projectlink a {
    color: white;
    text-decoration: none;
}

.interestimg {
    height: 200px;
    width: 200px;
    border-radius: 14px;
    object-fit: cover;
}

.interests p {
    margin-bottom: 0px;
}

.interests a {
    color: white;
}

.connect {
    margin: 5%;
}

.connect a {
    color: white;
}

.socials {
    margin: 0 3%;
    width: 35px;
    height: 35px;
    filter: invert();
}